<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Server Settings -->
		<!-- TCP Port on which the server will run -->
		<add key="ServerPort" value="80"/>
		
		<!-- Sessions -->
		<!-- For How Many Seconds will a Session be valid after user logs in -->
		<add key="SessionValidSeconds" value="600"/>
		
		<!-- Threading -->
		<!-- If the thread count exceeds this value all the inactive threads will get cleaned up -->
		<add key="ThreadCountCleanup" value="30"/>
	
		<!-- Logging -->
		<!-- Enable Logging into File ? -->
		<add key="LoggingEnabled" value="true"/>
		<!-- Directory for Logs (Logs by default). Enter the directory name without separators -->
		<add key="LoggingDirectory" value="Logs"/>
		
		<!-- User Data -->
		<!-- Enable Storing User Data ? (NYI)-->
		<add key="UserdataStorageEnabled" value="true"/>
		<!-- Userdata storage method. Possible options : File -->
		<add key="UserdataStorageMethod" value="File"/>
		<!-- Directory for User Data (Userdata by Default). Enter the directory name without separators -->
		<add key="UserdataStorageDirectory" value="Userdata"/>
		<!-- Autosave Interval in Minutes -->
		<add key="AutosaveInterval" value="5"/>
	</appSettings>
</configuration>