<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- TCP Port on which the server will run -->
		<add key="ServerPort" value="80"/>
		
		<!-- For How Many Seconds will a Session be valid after user logs in -->
		<add key="SessionValidSeconds" value="600"/>
		
		<!-- If the thread count exceeds this value all the inactive threads will get cleaned up -->
		<add key="ThreadCountCleanup" value="30"/>
	
		<!-- Enable logging-->
		<add key="LoggingEnabled" value="true"/>
	</appSettings>
</configuration>