/* Root */
:root {
    --gradient-test-fg: linear-gradient(to right, darkblue, darkorchid);
    --neonline-lightblue: linear-gradient(to right, #08DAF3, #7A04EB);
}

/* Additional Classes */
.justifyCenter {
    justify-content: center !important;
}

/* HTML & Body */
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    background: url("../img/bg/sierra.png") rgba(0,0,0,0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* Main Div */
#main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    /* border: 2px solid red; */
}

/* Topbar */
#topbar {
    height: 50px;
    width: 100%;
    /* border: 2px solid yellow; */
    background-color: #090909;
    /* background: var(#090909) padding-box, var(--neonline-lightblue) border-box; */
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid transparent;
    box-shadow: 
        -90vw 0px 15px 1px #08DAF3,
        -80vw 0px 15px 1px #15C2F2,
        -70vw 0px 14px 2px #21AAF1,
        -60vw 0px 14px 2px #2E93F0,
        -50vw 0px 13px 3px #3B7BEF,
        -40vw 0px 13px 3px #4763EF,
        -30vw 0px 12px 4px #544BEE,
        -20vw 0px 12px 4px #6134ED,
        -10vw 0px 12px 4px #6D1CEC,
        -0vw 0px  13px 8px #7A04EB;
    
        
}

#username {
    margin-left: 10px;
    margin-top: 6px;
    color: white;
    font-size: 32px;
    font-family: sans-serif;
}

#button_back {
    height: 100%;
    width: 150px;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 32px;
    font-family: sans-serif;
    cursor: pointer;
}

/* Content Div */
#content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
}


/* Main Menu */
#main_menu {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    margin-top: 5vh;
}

.main_menu_button{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    height: 20%;
    min-height: 100px;
    max-height: 200px;
    background: rgba(0,0,0,0.8);
    border: none;
    color: white;
    font-size: 48px;
    cursor: pointer;
    animation-name: buttonhoverback;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
    border: 2px solid transparent;
    background: linear-gradient(#212121, #212121) padding-box, linear-gradient(to right, #08DAF3, #7A04EB) border-box;

    
}

.main_menu_button:hover{
    animation-name: buttonhover;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
    margin-left: 15%;

    border: 4px solid transparent;
    background: linear-gradient(#212121, #212121) padding-box, linear-gradient(to right, #08DAF3, #7A04EB) border-box;
    box-shadow: 
        -50px 0px 64px -16px #08DAF3,
         50px 0px 80px -16px #7A04EB;
    
}

@keyframes buttonhover {
    from {
        margin-left: 10%;
    }

    to {
        margin-left: 15%;
    }
}

@keyframes buttonhoverback {
    from {
        margin-left: 15%;
    }

    to {
        margin-left: 10%;
    }
}

/* Leaderboard */
#body_leaderboard {
    background-attachment: fixed;
}

#leaderboard {
    /* border: 2px solid red; */
    width: 70%;
}

#leaderboard_entry {
    /* border: 2px solid blue; */
    margin-top: 10px;
    height: 75px;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid transparent;
    background: linear-gradient(#212121, #212121) padding-box, linear-gradient(to right, #08DAF3, #7A04EB) border-box;
}

#leaderboard_entry_username {
    /* border: 2px solid #08DAF3; */

    color: white;
    font-size: 48px;
    font-family: sans-serif;
    margin-left: 50px;

    display: flex;
    flex-shrink: 1;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

#leaderboard_entry_score {
    /* border: 2px solid #7A04EB; */

    color: white;
    font-size: 48px;
    font-family: sans-serif;
    margin-right: 50px;

    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: center;
}

#leaderboard_title {
    color: white;
    font-size: 72px;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Game */
#body_game {
    background-attachment: fixed;
}

#game_content {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#game_content_left {
    height: 100%;
    width: 250px;
    background: rgba(0, 0, 0, 0.5);
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
    margin-right: 15px;
    display: flex;
    flex-flow: column;
}

#game_content_right {
    height: 100%;
    width: 250px;
    background: rgba(0, 0, 0, 0.5);
    border-start-end-radius: 15px;
    border-end-end-radius: 15px;
    margin-left: 15px;
    display: flex;
    flex-flow: column;
}

#game_content_right_next {
    border: 2px solid #212121;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

#game_content_right_next_canvas {
    width: 100%;
    height: 100%;
}

#game_content_right_next_text {
    color: white;
    margin-left: 20px;
    font-size: 42px;
    font-family: sans-serif;
}

#playField {
	background: rgba(0, 0, 0, 0.5);
	width: auto;
	height: 90vh;
}

#game_content_left_score {
    margin-top: 20px;
    margin-left: 20px;
	font-size: 42px;
	font-family: sans-serif;
    color: white;
    /* border: 2px solid green; */
    width: 100%;
}

#game_content_left_level {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 42px;
    font-family: sans-serif;
    color: white;
    /* border: 2px solid greenyellow; */
    width: 100%;
}